.form-todo {
    position: relative;
    padding: 30px;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.todo-addtask {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}
.todo-input {
    position: relative;
    padding: 10px;
}