.form-todo {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: space-around;
}
.todo-addtask {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 30%;
    
}