* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

  body {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/5931563.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App { 
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-app-content {
  position: relative;
  top: 60px;
  display: flex;
  width: 40%;
  height: 100%;
  min-height: calc(100vh - 270px);
  flex: 1;
  flex-flow: column;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1em;
}
