@font-face { 
  font-family: 'Mayego';
  src: url(../fonts/Mayego.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

.App {
  text-align: center;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: pink;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-name {
  font-family: 'Mayego', sans-serif;
  font-size: 60px;
  letter-spacing: 0.5em;
}
.font-1 {
  font-family: 'Mayego', sans-serif;
  font-size: 40px;
  letter-spacing: 0.5em;
}