* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-color: beige;
}
.main-app-content {
position: relative;
display: flex;
width: 40%;
flex-flow: column;
justify-content: center;
background-color: darksalmon;
}
.App { 
  display: flex;
  flex-flow: column;
  align-items: center;
}