.header {
  position: relative;
  top: 30px;
  width: 40%;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  z-index: 1000;
  border-radius: 1em;
}
.logo-text {
  font-size: 40px;
}
