.nav-task {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.tasks-left-todo {
  font-weight: bold;
}

.all-tasks-btn,
.active-tasks-btn,
.completed-tasks-btn {
  padding: 12px 20px; 
  margin: 0 8px;
  cursor: pointer;
  background-color: #1e6091;
  color: #fff;
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.all-tasks-btn:hover,
.active-tasks-btn:hover,
.completed-tasks-btn:hover {
  background-color: #0c436c; 
}
