.tasks-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
}

.active-tasks,
.done {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 90%;
    margin-bottom: 20px;
}
.button {
    display: flex;
    flex-flow: column;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}

.button:hover { 
    background-color: brown;
}