.active-tasks { 
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.done {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
}